
body {
    letter-spacing:0.4px;
    font-family: 'FELight', sans-serif; font-size:15px; line-height: 1.33em;
    background-color:whitesmoke;color:black;
    margin: 0 1em 1em 1em;
    
}

a {color:black;text-decoration:1px solid black underline;text-underline-offset:0.15em } /* 6B8E23 */
a:hover { text-decoration:none;background-color:white } /* ebebeb */
p.thanks { color:gray }

body { display:grid; grid-template-columns: 1fr 4fr; }
main { margin: 0 10vw auto 1em }
img { display:block;width:100% }

figure { margin: auto 1em 2em 1em }
figcaption { text-align:center;color:gray } /* font-size:0.9em; */

h1, h2 { font-size: 1em; font-weight:normal; font-family: 'FELight',sans-serif}
h2 { color:gray; margin-bottom:-1em; }
h1 + p { margin-top: -0.75em }
h1#colophon { margin-bottom:0 }

header section { position:sticky; top:1em; }
header article summary { margin-bottom:0; }
header section h1 a { text-decoration:none; }
header section h1 span.letter:hover { text-transform:uppercase }

main section a { color:black;text-decoration:none;transition:0.2s; }
main section a:hover { color:gray;opacity:60%;transition:0.2s; }

main section { margin-bottom:2em }
main section summary { font-family:'FELight',sans-serif;margin:0.5em auto 0em auto;
    position:sticky; top:0 }
main section details[open] { background-color:#ebebeb;padding-bottom:0.25em }
main section details[open] summary { padding-bottom:1em;border-bottom:1px dotted silver;font-family:'FELight',sans-serif;background-color:whitesmoke; }
main h2 { color:black; font-weight:bolder;margin:2em auto 1em auto }

.title { font-weight:500;font-family:'FEReg',sans-serif;margin-right:1em }
section details p, article details p { padding-left:1em }
ul { list-style-type: none; padding-left:1em; margin-top:0.5em }
ul li { text-indent: 0; margin-bottom:0.5em }
.caption {color:gray; padding-right:2em}
#wesley { color:deepskyblue; text-decoration: 1px solid deepskyblue underline }
#wesley:hover { color:whitesmoke; background-color:deepskyblue; text-decoration:none }

.projectmeta, .projectmeta *, figcaption a, .caption a { color:gray }
.projectmeta a, figcaption a, .caption a { text-decoration: 1px gray solid underline }
nav, nav * {  color:black;text-decoration:none }
nav { margin-top: 2em }
.currPage { background-color:#e0e0e0 }



@media (max-width:1000px) {
    body {grid-template-columns:1fr;}
    header { margin-bottom:2em;position:relative }
    main { margin:auto auto}
    main h1 { position:relative }
}

